# Warning: Comments at the same line really confuse Ansible :-(

[defaults]
# Do not clutter user directory
remote_tmp = /run/ansible

vault_password_file = bin/vault-pass

[connection]
# required for becoming unprivileged user
pipelining = true
