[Unit]
Requires=sslh.service
Before=sslh.service

[Socket]
FreeBind=true
{% for addr in ansible_all_ipv4_addresses|default([]) if not addr.startswith('192.168.') %}
ListenStream={{addr}}:443
{% endfor %}
{% for addr in ansible_all_ipv6_addresses|default([]) if not addr.lower().startswith('fe80:') %}
ListenStream=[{{addr}}]:443
{% endfor %}

[Install]
WantedBy=sockets.target
