###################################################################
# This is the main config file for dehydrated, managed by Ansible #
###################################################################

# User and group to run dehydrated as; implicitly enforced when running as root
DEHYDRATED_USER='{{dehydrated_user}}'
DEHYDRATED_GROUP='{{ssl_access_group}}'

# CA API URL to communicate with
CA='{{letsencrypt_api_url}}'

# Contact e-mail for CA communication
CONTACT_EMAIL='{{letsencrypt_contact_email}}'
{# vim:set filetype=sh.jinja2: #}
