[Unit]
Description=SSL/SSH multiplexer
Documentation=man:sslh(8)
After=network.target

[Service]
# Preparation
RuntimeDirectory=sslh
ExecStartPre=/usr/bin/python3 /usr/libexec/sslh/generate-listen.py -o %t/sslh/listen.cfg
# Execution
ExecStart=/usr/sbin/sslh -F/etc/sslh.cfg
KillMode=process
#Hardening
PrivateTmp=true
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_NET_BIND_SERVICE CAP_NET_ADMIN
ProtectSystem=full
ProtectHome=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
